<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 复杂查询语句写在这里，其他简单语句用注解 -->
<mapper namespace="com.heying.mybatis.mapper.StudentMapper">
    //id要和接口方法名一致
    <insert id="insertOne" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into student
        values (null, #{stuno}, #{name}, #{birthday}, #{country},
                #{hobby}, #{sex}, #{tid})
    </insert>
    <update id="updateOne">
        update student
        set stuno=#{stuno},
            name=#{name},
            birthday=#{birthday},
            country=#{country},
            hobby=#{hobby},
            sex=#{sex},
            tid=#{tid}
        where id = #{id}
    </update>

    <delete id="deleteOne">
        delete
        from student
        where id = #{id}
    </delete>

    <select id="selectById" resultType="Student">
        select *
        from student
        where id = #{id}
    </select>

    <select id="selectAll" resultType="Student">
        select *
        from student
    </select>

<!--  这里的id与下面resultMap相对应 type放主数据  -->
    <resultMap id="stuTeacherMapN1" type="Student">
        <!--        <id property="id" column="id"/>-->
                <!--   映射关系 属性和表字段 的映射关系     -->
        <!--        <result property="stuno" column="stuno"/>-->
        <!--        <result property="tid" column="tid"/>-->
<!--    配个关系 association    -->
<!--    默认fetchType lazy模式 延迟加载    -->
        <association property="teacher" javaType="Teacher" column="tid" fetchType="eager"
                     select="com.heying.mybatis.mapper.TeacherMapper.selectById"/>
    </resultMap>

<!-- resultMap结果映射集   -->
    <select id="selectStudentAndTeacherByIdN1" resultMap="stuTeacherMapN1">
        select * from student where id=#{id}
    </select>

    <select id="selectAllStudentAndTeacherN1" resultMap="stuTeacherMapN1">
        select * from student
    </select>

    <resultMap id="stuTeacherMap" type="Student">
        <id property="id" column="sid"/>
        <result property="name" column="sname"/>
        <result property="birthday" column="sbirthday"/>
        <result property="stuno" column="stuno"/>
        <result property="hobby" column="shobby"/>
        <result property="sex" column="ssex"/>
        <association property="teacher" javaType="Teacher">
            <id property="id" column="tid"/>
            <result property="name" column="tname"/>
            <result property="age" column="tage"/>
        </association>
    </resultMap>
    <select id="selectAllStudentAndTeacher" resultMap="stuTeacherMap">
        select
            s.id as sid,
            s.stuno as stuno,
            s.name as sname,
            s.birthday as sbirthday,
            s.hobby as shobby,
            s.sex as ssex,
            t.id as tid,
            t.name as tname,
            t.age as tage
        from student s left join teacher t on s.tid = t.id
    </select>
</mapper>